@font-face {
  font-family: 'Banny Bold Round';
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/Banny-BoldRound.woff);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  color: #fff;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

.btn {
  min-width: 200px;
  height: 60px;
  background: #E8C300;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 40px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  outline: none;
  border: none;
}

.btn--transparent {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  margin-right: 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__logo {
  background: url(../assets/img/logo.svg) center/contain no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1250px) {
  .header__logo {
    width: 115px;
    height: 115px;
  }
}

@media (max-width: 1200px) {
  .header__logo {
    width: 100px;
    height: 100px;
    top: 10px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 80px;
    height: 80px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  font-size: 12px;
  font-weight: 700;
  width: 133px;
  height: 100px;
  line-height: 1.5;
  text-decoration: none;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 1250px) {
  .nav__link {
    width: 125px;
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .nav__link {
    width: 100px;
    height: 60px;
  }
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
}

.header, .intro {
  background: url(../assets/img/background.png) center/cover no-repeat;
  background-attachment: fixed;
}

.intro__inner {
  position: relative;
}

.intro__title {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: .5em;
  text-transform: uppercase;
  text-align: center;
}

.intro__cont {
  padding: 225px 0 83px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
  border-top: none;
  text-align: center;
  margin: 0 210px;
}

@media (max-width: 1200px) {
  .intro__cont {
    margin: 0 150px;
    padding: 180px 0 60px;
  }
}

@media (max-width: 992px) {
  .intro__cont {
    border: none;
    margin: 0 auto;
    padding: 150px 0 60px;
  }
}

@media (max-width: 768px) {
  .intro__cont {
    padding: 120px 0 60px;
  }
}

.intro__cont::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 615px;
  background: rgba(255, 255, 255, 0.2);
  bottom: 0;
}

@media (max-width: 1200px) {
  .intro__cont::before {
    height: 500px;
  }
}

@media (max-width: 992px) {
  .intro__cont::before {
    display: none;
  }
}

.intro__name {
  font-size: 96px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Banny Bold Round';
  margin-top: 15px;
}

@media (max-width: 1250px) {
  .intro__name {
    font-size: 80px;
  }
}

@media (max-width: 1200px) {
  .intro__name {
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  .intro__name {
    font-size: 45px;
  }
}

@media (max-width: 576px) {
  .intro__name {
    font-size: 34px;
  }
}

.intro__name::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  margin: 30px auto;
  background: #E8C300;
  border-radius: 50px;
}

@media (max-width: 1200px) {
  .intro__name::after {
    margin: 15px auto 30px;
  }
}

.intro__btns {
  margin-bottom: 82px;
}

@media (max-width: 992px) {
  .intro__btns {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .intro__btns {
    margin-bottom: 30px;
  }
}

.intro__work {
  position: absolute;
  bottom: 30%;
  left: 0;
  -webkit-transform: translateY(30%) rotate(-90deg);
          transform: translateY(30%) rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  font-size: 12px;
}

@media (max-width: 768px) {
  .intro__work {
    -webkit-transform: none;
            transform: none;
    bottom: 30px;
  }
}

@media (max-width: 576px) {
  .intro__work {
    display: none;
  }
}

.intro__social {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .intro__social {
    bottom: 20px;
    top: auto;
    right: 0;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 576px) {
  .intro__social {
    bottom: 10px;
  }
}

.intro__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  margin-bottom: 20px;
}

.intro__social-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .intro__social-item {
    margin-bottom: 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  .intro__social-item:last-child {
    margin-right: 0;
  }
}

.intro__social-img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .intro__btn {
    height: 45px;
    min-width: 150px;
    margin-right: 20px;
  }
  .intro__btn:last-child {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .intro__btn {
    min-width: 130px;
  }
}

.down-btn {
  background: transparent;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 576px) {
  .down-btn {
    width: 50px;
    height: 50px;
  }
  .down-btn img {
    width: 100%;
  }
}

.about {
  padding: 100px 0;
}

@media (max-width: 1200px) {
  .about {
    padding: 80px 0;
  }
}

@media (max-width: 992px) {
  .about {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  .about {
    padding: 20px 0;
  }
}

.about__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 80px;
}

@media (max-width: 992px) {
  .about__inner {
    gap: 0 60px;
  }
}

@media (max-width: 768px) {
  .about__inner {
    gap: 0 40px;
  }
}

@media (max-width: 576px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
}

.about__row {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .about__row {
    width: 47%;
  }
}

@media (max-width: 576px) {
  .about__row {
    width: 100%;
  }
}

.about__img {
  -webkit-filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  margin-right: 125px;
}

@media (max-width: 1200px) {
  .about__img {
    margin-right: 100px;
  }
}

@media (max-width: 992px) {
  .about__img {
    margin-right: 75px;
  }
}

@media (max-width: 768px) {
  .about__img {
    margin-right: 0;
  }
}

.title {
  font-family: 'Banny Bold Round';
  font-size: 36px;
  color: #000;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  margin: 10px auto 15px;
  background: #E8C300;
  border-radius: 50px;
}

@media (max-width: 992px) {
  .title::after {
    width: 50px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 30px;
  }
}

.subtitle {
  line-height: 1.6;
  text-align: center;
  color: #000;
  margin-bottom: 35px;
}

@media (max-width: 992px) {
  .subtitle {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  color: #000;
}

@media (max-width: 992px) {
  .description {
    font-size: 12px;
  }
}

.square {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 20px solid #E8C300;
  width: 250px;
  height: 250px;
  -webkit-filter: drop-shadow(0px 0px 100px #000000);
          filter: drop-shadow(0px 0px 100px #000000);
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .square {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .square {
    display: none;
  }
}

.team {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
  background: url(../assets/img/team-bg.png) center/cover no-repeat;
}

@media (max-width: 1200px) {
  .team {
    padding-bottom: 80px;
  }
}

@media (max-width: 992px) {
  .team {
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .team {
    padding-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .team {
    padding-bottom: 20px;
  }
}

.team__head {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: .5em;
  text-transform: uppercase;
  text-align: center;
  padding: 45px 0;
}

@media (max-width: 1200px) {
  .team__head {
    padding: 35px 0;
  }
}

@media (max-width: 992px) {
  .team__head {
    padding: 25px 0;
  }
}

@media (max-width: 768px) {
  .team__head {
    padding: 18px 0;
  }
}

.team__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 72px;
}

@media (max-width: 992px) {
  .team__inner {
    gap: 0 60px;
  }
}

@media (max-width: 768px) {
  .team__inner {
    gap: 0 40px;
  }
}

@media (max-width: 576px) {
  .team__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
}

.team__row {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .team__row {
    width: 47%;
  }
}

@media (max-width: 576px) {
  .team__row {
    width: 100%;
  }
}

.team__img {
  margin-left: 113px;
  -webkit-filter: drop-shadow(0px 0px 50px #000000);
          filter: drop-shadow(0px 0px 50px #000000);
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .team__img {
    margin-left: 100px;
  }
}

@media (max-width: 992px) {
  .team__img {
    margin-left: 75px;
  }
}

@media (max-width: 768px) {
  .team__img {
    margin-left: 0;
  }
}

.team__title {
  color: #fff;
}

.team__subtitle {
  color: #fff;
}

.team__description {
  color: #fff;
}

.team__square {
  left: 0;
}

.line {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 1px;
  top: 0;
  z-index: -1;
}

.line--1 {
  left: 25%;
}

.line--2 {
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.line--3 {
  right: 25%;
}

.booking {
  padding-top: 100px;
}

@media (max-width: 1200px) {
  .booking {
    padding-top: 80px;
  }
}

@media (max-width: 992px) {
  .booking {
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .booking {
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .booking {
    padding-top: 20px;
  }
}

.booking__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 72px;
}

@media (max-width: 992px) {
  .booking__inner {
    gap: 0 50px;
  }
}

@media (max-width: 768px) {
  .booking__inner {
    gap: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .booking__inner {
    gap: 20px 0;
  }
}

.booking__row {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .booking__row {
    width: 47%;
  }
}

@media (max-width: 768px) {
  .booking__row {
    width: 100%;
  }
}

.booking__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 576px) {
  .booking__inputs {
    display: block;
  }
}

.booking__input {
  height: 60px;
  outline: none;
  border: none;
  background: #E5E5E5;
  border-radius: 5px;
  padding: 0 20px;
  width: 100%;
}

@media (max-width: 992px) {
  .booking__input {
    height: 45px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .booking__input {
    margin-bottom: 10px;
  }
}

.booking__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.booking__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.booking__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.booking__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.booking__img {
  margin-right: 113px;
}

@media (max-width: 1200px) {
  .booking__img {
    margin-right: 100px;
  }
}

@media (max-width: 992px) {
  .booking__img {
    margin-right: 75px;
  }
}

@media (max-width: 768px) {
  .booking__img {
    margin-right: 0;
  }
}

.booking__square {
  right: 0;
}

.booking__work {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  padding: 45px 0;
}

.booking__work span {
  font-weight: 700;
  color: rgba(51, 51, 51, 0.7);
}

@media (max-width: 1200px) {
  .booking__work {
    padding: 35px 0;
  }
}

@media (max-width: 992px) {
  .booking__work {
    padding: 25px 0;
  }
}

@media (max-width: 768px) {
  .booking__work {
    padding: 18px 0;
  }
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 60px !important;
  line-height: 60px;
}

.select2-selection__rendered {
  line-height: 60px !important;
}

.specialties {
  background: url(../assets/img/specialty-bg.png) center/cover no-repeat;
}

.specialties__head {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: .5em;
  text-transform: uppercase;
  text-align: center;
  padding: 45px 0;
}

@media (max-width: 1200px) {
  .specialties__head {
    padding: 35px 0;
  }
}

@media (max-width: 992px) {
  .specialties__head {
    padding: 25px 0;
  }
}

@media (max-width: 768px) {
  .specialties__head {
    padding: 18px 0;
  }
}

.specialties__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 72px;
}

@media (max-width: 992px) {
  .specialties__inner {
    gap: 0 60px;
  }
}

@media (max-width: 768px) {
  .specialties__inner {
    gap: 0 40px;
  }
}

@media (max-width: 576px) {
  .specialties__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
}

.specialties__row {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .specialties__row {
    width: 47%;
  }
}

@media (max-width: 576px) {
  .specialties__row {
    width: 100%;
  }
}

.specialties__img {
  margin-left: 125px;
}

@media (max-width: 1200px) {
  .specialties__img {
    margin-left: 100px;
  }
}

@media (max-width: 992px) {
  .specialties__img {
    margin-left: 75px;
  }
}

@media (max-width: 768px) {
  .specialties__img {
    margin-left: 0;
  }
}

.specialties__title {
  color: #fff;
}

.specialties__subtitle {
  color: #fff;
}

.specialties__description {
  color: #fff;
}

.specialties__square {
  left: 0;
}

.specialties-pagination {
  bottom: 7% !important;
}

@media (max-width: 576px) {
  .specialties-pagination {
    bottom: 2% !important;
  }
}

.swiper-container {
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  .swiper-container {
    padding-bottom: 80px;
  }
}

@media (max-width: 992px) {
  .swiper-container {
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .swiper-container {
    padding-bottom: 40px;
  }
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px !important;
}

.menu {
  padding: 100px 0;
}

@media (max-width: 1200px) {
  .menu {
    padding: 80px 0;
  }
}

@media (max-width: 992px) {
  .menu {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .menu {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  .menu {
    padding: 20px 0;
  }
}

.tab__nav {
  overflow: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .tab__nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .tab__nav {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.tab__link {
  text-decoration: none;
  min-width: 120px;
  height: 50px;
  font-size: 12px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}

@media (max-width: 576px) {
  .tab__link:nth-child(even) {
    border-right: none;
  }
}

.tab__link:last-child {
  border-right: none;
}

@media (max-width: 992px) {
  .tab__link:last-child {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 3 / 3;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    border-left: 1px solid rgba(51, 51, 51, 0.2);
  }
}

@media (max-width: 576px) {
  .tab__link:last-child {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 5 / 1 / 5 / 3;
    border: none;
  }
}

.tab__inner {
  margin-top: 51px;
}

@media (max-width: 768px) {
  .tab__inner {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .tab__inner {
    margin-top: 15px;
  }
}

.tab__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px 87px;
}

@media (max-width: 1200px) {
  .tab__box {
    gap: 20px 40px;
  }
}

@media (max-width: 992px) {
  .tab__box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 670px) {
  .tab__box {
    display: block;
  }
}

@media (max-width: 670px) {
  .tab__menu {
    margin-bottom: 10px;
  }
}

.tab__name {
  font-family: 'Banny Bold Round';
  color: #333333;
  font-size: 18px;
}

@media (max-width: 1400px) {
  .tab__name {
    font-size: 15px;
  }
}

@media (max-width: 670px) {
  .tab__name {
    text-align: center;
  }
}

.tab__desc {
  font-weight: 400;
  line-height: 1.5;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
}

@media (max-width: 1400px) {
  .tab__desc {
    font-size: 10px;
  }
}

@media (max-width: 670px) {
  .tab__desc {
    text-align: center;
  }
}

.events {
  background: url(../assets/img/event-bg.png) center/cover no-repeat;
}

.events__head {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: .5em;
  text-transform: uppercase;
  text-align: center;
  padding: 45px 0;
}

@media (max-width: 1200px) {
  .events__head {
    padding: 35px 0;
  }
}

@media (max-width: 992px) {
  .events__head {
    padding: 25px 0;
  }
}

@media (max-width: 768px) {
  .events__head {
    padding: 18px 0;
  }
}

.events__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 72px;
}

@media (max-width: 992px) {
  .events__inner {
    gap: 0 60px;
  }
}

@media (max-width: 768px) {
  .events__inner {
    gap: 0 40px;
  }
}

@media (max-width: 576px) {
  .events__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.events__row {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 576px) {
  .events__row {
    width: 100%;
    margin-bottom: 10px;
  }
}

.events__img {
  margin-left: 125px;
  width: calc(100% - 125px);
}

@media (max-width: 1200px) {
  .events__img {
    margin-left: 100px;
    width: calc(100% - 100px);
  }
}

@media (max-width: 992px) {
  .events__img {
    margin-left: 75px;
    width: calc(100% - 75px);
  }
}

@media (max-width: 768px) {
  .events__img {
    margin-left: 0;
    width: 100%;
  }
}

.events__img--right {
  margin-left: 0;
  margin-right: 125px;
}

@media (max-width: 1200px) {
  .events__img--right {
    margin-right: 100px;
  }
}

@media (max-width: 992px) {
  .events__img--right {
    margin-right: 75px;
  }
}

@media (max-width: 768px) {
  .events__img--right {
    margin-right: 0;
  }
}

.events__name {
  background: #000;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 15%;
}

.events__name--right {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 576px) {
  .events__name {
    height: 15%;
    width: 100%;
    bottom: 0;
    top: auto;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.events__text {
  font-family: 'Banny Bold Round';
  -webkit-transform: rotate(90deg) translate(70%);
          transform: rotate(90deg) translate(70%);
  font-size: 24px;
  line-height: 0.5;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .events__text {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .events__text {
    -webkit-transform: none;
            transform: none;
  }
}

.events__work {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  padding: 45px 0;
  font-weight: 400;
}

.events__work span {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1200px) {
  .events__work {
    padding: 35px 0;
  }
}

@media (max-width: 992px) {
  .events__work {
    padding: 25px 0;
  }
}

@media (max-width: 768px) {
  .events__work {
    padding: 18px 0;
  }
}

.events__square--left {
  left: 0;
}

.galerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galerie__img {
  width: 25%;
}

@media (max-width: 768px) {
  .galerie__img {
    width: 50%;
  }
}

.contact {
  padding: 100px 0;
}

@media (max-width: 1200px) {
  .contact {
    padding: 80px 0;
  }
}

@media (max-width: 992px) {
  .contact {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  .contact {
    padding: 20px 0;
  }
}

.contact__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .contact__inputs {
    display: block;
  }
}

.contact__input {
  height: 60px;
  outline: none;
  border: none;
  background: #E5E5E5;
  border-radius: 5px;
  padding: 0 20px;
  width: 100%;
}

.contact__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.contact__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.contact__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.contact__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.contact__input--big {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 2 / 4;
  height: 120px;
  padding: 20px;
}

@media (max-width: 768px) {
  .contact__input {
    margin-bottom: 10px;
  }
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .contact__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1400px) {
  .contact__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  .contact__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 660px) {
  .contact__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.contact__item:last-child {
  margin-right: 0;
}

@media (max-width: 1400px) {
  .contact__item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .contact__item {
    margin-right: 15px;
  }
}

.contact__img {
  width: 20px;
  height: 20px;
  background: #E8C300;
  margin-right: 10px;
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-position: center center !important;
  -webkit-mask-position: center center !important;
  mask-size: contain !important;
  -webkit-mask-size: contain !important;
}

.contact__img--1 {
  -webkit-mask: url(../assets/img/loc.svg);
          mask: url(../assets/img/loc.svg);
}

.contact__img--2 {
  -webkit-mask: url(../assets/img/phone.svg);
          mask: url(../assets/img/phone.svg);
}

.contact__img--3 {
  -webkit-mask: url(../assets/img/email.svg);
          mask: url(../assets/img/email.svg);
}

.contact__text {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
}

.contact__btn {
  max-width: 640px;
  width: 100%;
  margin-right: 0;
}

@media (max-width: 992px) {
  .contact__btn {
    max-width: 100%;
  }
}

.map iframe {
  width: 100%;
}

.footer {
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 40px 0;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */